.ActionBlock {
    background: rgb(0, 0, 0);
    border-width: 0px;
    border-radius: 10px;
    height: 55px;
    width: 270px;
    padding: 0;
    margin-left: 6px;
}

.CharBlock {
    background: rgba(0,0,0,0);
    border-width: 0px;
    padding: 0px;
    height: 95px;
    width:95px;
}

.nullCharBlock {
    background: rgba(0,0,0,0);
    height: 95px;
    width:95px;
    padding: 2.5px;
}

.ActionBlockImg {
    z-index: 0;
    object-fit: cover;
    mask-image: linear-gradient(to right, transparent 0%, black);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    object-position: 80% 30%;
    height: 55px; 
    width: 245px;
    padding: 0px;
}

.ActionBlockName{
    z-index: 10;
    position: relative;
    white-space: pre;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: left;
    color: white;
    font-family: 'Helvetica';
    padding: 0;
}

.ActionBlockMisc {
    z-index: 10;
    position: relative;
    white-space: pre;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: left;
    color: white;
    font-family: 'Helvetica';
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}

.ActionBlockCost {
    z-index: 10;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: left;
    color: white;
    font-family: 'Helvetica';
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}

.font {
    font-family: 'Helvetica';
}

.Pyro {
    color: rgb(255, 0, 0)
}

.Hydro {
    color:rgb(67, 98, 255)
}

.Anemo {
    color: rgb(0, 255, 187)
}

.Electro {
    color: rgb(153, 0, 255)
}

.Dendro {
    color:rgb(87, 201, 0)
}

.Cryo {
    color: rgb(0, 255, 247);
}

.Geo {
    color:rgb(255, 234, 0)
}

.Energy {
    color: rgb(255, 145, 0)
}

.Black {
    color:rgba(255, 255, 255, 0.593);
}