.ActionBlock {
    background: rgba(0,0,0,0);
    border-width: 0px;
}

.CharBlock {
    background: rgba(0,0,0,0);
    border-width: 0px;
    padding: 0px;
    height: 95px;
    width:95px;
}

.nullCharBlock {
    background: rgba(0,0,0,0);
    height: 95px;
    width:95px;
    padding: 2.5px;
}