.charCardDefault {
    background: rgba(0,0,0,0);
    border: 0px;
    height: 235px;
    width: 138px;
    padding: 0px;
    position: relative;
}

.charCardClicked {
    background: rgba(0,0,0,0);
    border-width: 0px;
    height: 235px;
    width: 138px;
    padding: 0px;
    position: relative;
}

.charLibraryBackground {
    height: 600px;
    width: 600px;
    background: rgba(0,0,0,0);
    border-radius: 25px;
}

.charLibraryColumn {
    height: 200px;
    width: 200px;
}

.charLibraryRow {
    height: 200px;
    width: 600px;
}

.purpleBackground {
    background: rgba(0,0,0,0);
    width: 900px;
    height: 800px;
}

.toggleElement {
    border: 0px;
    background: rgba(0,0,0,0);
    height:80px;
    width:80px;
    padding: 0;
    font-family: Helvetica;
    font-size: 35px;
}

.toggleFaction {
    border: 0px;
    background: rgba(0,0,0,0);
    padding: 0;
}


.toggleImg {
    background: rgba(0,0,0,0);
    width: 70px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.scrollbox {
    background: rgba(0,0,0,0);
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    height:850px;
    padding-left: 10px;
}

.scrollbox::-webkit-scrollbar { 
    background: rgba(0,0,0,0);
    width: 0;
    height: 0;
}

.blackcolor {
    background-color: black;
    margin-left: 0px;
}

.font {
    font-family: 'Helvetica';
}

.infobox {
    position: fixed;
    background-color: rgba(0,0,0,0.85);
    overflow: visible;
    color: white;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 900px;
    height: 750px;
    z-index: 100;
}

.infoButton {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(190%, -20%);
    padding: 0px;
    border: none;
    background-color: rgba(100, 225, 255, 0.5);
    border-radius: 100px;
    z-index: 20;
}

.char_infoButton {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(190%, -20%);
    padding: 0px;
    border: none;
    background-color: rgba(100, 225, 255, 0.5);
    border-radius: 100px;
    z-index: 20;
}

.infoButtonIcon {
    padding: 0px;
    width: 50px;
    height: 50px;
    border: 0px;
    background-color: rgba(0,0,0,0);
}

.infoBoxImage {
    padding-top: 10px;
}

.infoBoxButton {
    width: 0px;
    float: right;
    background: transparent;
    border: 0;
}

.infoBoxName {
    font-size: 35px;
    font-family: Helvetica;
}

.infoBoxText {
    font-size: 18px;
    font-family: Helvetica;
    white-space: pre-line;
}

.infoBoxCost {
    font-size: 25px;
    font-family: Helvetica;
}

.infoBoxClose {
    width: 20px;
    top: 0%;
    left: 0%;
    transform: translate(-200%, 80%);
    filter: grayscale(80%);
}

.actionCardCounter {
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: visible;
    font-family: Helvetica;
}

.relative {
    position: relative;
}

.filterText {
    font-family: Helvetica;
    font-size: 30px;
    position: relative;
}

.toggleElementText {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 3px;
    border-color: black;
    border-width: 1px;
    border-radius: 300px;
    background-color: rgba(0,0,0,0);
    height:72px;
    width:80px;
    padding: 0;
    font-family: Helvetica;
    font-size: 20px;
}

.toggleElementTextSelected {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 3px;
    border: 0;
    border-radius: 300px;
    background-color: rgb(0, 0, 0, 0.7);
    height:72px;
    width:80px;
    padding: 0;
    color: white;
    font-family: Helvetica;
    font-size: 20px;
}

.miscButton {
    border: 0;
    background-color: transparent;
    font-family: Helvetica;
    font-size: 20px;
    color: rgba(120, 225, 255, 1);
}

.toggleText {
    font-size: 8px;
    height: 20px;   
    width: 80px;
    position: absolute;
    text-align: center;
    transform: translateY(-250%)
}