.charCardDefault {
    background-color: white;
    border: 0px;
    height: 235px;
    width: 138px;
    padding: 0px;
}

.charCardClicked {
    background-color: white;
    border-width: 0px;
    height: 235px;
    width: 138px;
    padding: 0px;
}

.charLibraryBackground {
    height: 600px;
    width: 600px;
    background-color: white;
    border-radius: 25px;
}

.charLibraryColumn {
    height: 200px;
    width: 200px;
}

.charLibraryRow {
    height: 200px;
    width: 600px;
}

.purpleBackground {
    background-color: white;
    width: 900px;
    height: 800px;
}

.toggleElement {
    border: 0px;
    background-color: white;
    padding: 0;
}

.toggleFaction {
    border: 0px;
    background-color: white;
    padding: 0;
}


.toggleImg {
    width: 70px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.scrollbox {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    width:1000px;
    height:700px;
}

.scrollbox::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
