.charCardDefault {
    background: rgba(0,0,0,0);
    border: 0px;
    height: 235px;
    width: 138px;
    padding: 0px;
}

.charCardClicked {
    background: rgba(0,0,0,0);
    border-width: 0px;
    height: 235px;
    width: 138px;
    padding: 0px;
}

.charLibraryBackground {
    height: 600px;
    width: 600px;
    background: rgba(0,0,0,0);
    border-radius: 25px;
}

.charLibraryColumn {
    height: 200px;
    width: 200px;
}

.charLibraryRow {
    height: 200px;
    width: 600px;
}

.purpleBackground {
    background: rgba(0,0,0,0);
    width: 900px;
    height: 800px;
}

.toggleElement {
    border: 0px;
    background: rgba(0,0,0,0);
    height:80px;
    width:80px;
    padding: 0;
}

.toggleFaction {
    border: 0px;
    background: rgba(0,0,0,0);
    padding: 0;
}


.toggleImg {
    background: rgba(0,0,0,0);
    width: 70px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.scrollbox {
    background: rgba(0,0,0,0);
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    height:850px;
}

.scrollbox::-webkit-scrollbar { 
    background: rgba(0,0,0,0);
    width: 0;
    height: 0;
}

.blackcolor {
    background-color: black;
    margin-left: 0px;
}
