html, body {
    overflow: none;
}

.startBox {
    font-family: Helvetica;
    font-size: 18px;
}

.startBoxText {
    font-family: Helvetica;
    color: white;       
}

.startBoxTextBold {
    font-family: Helvetica;
    color: white;
    font-size: 19px;
}